.places {
    margin: 92px auto 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin: 88px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 720px;
        margin: 64px auto 0;
    }
}


.place {
    padding: 0;
}

.place__item {
    display: flex;
    flex-direction: column;
    margin: 80px 0 0;
    max-width: 984px;
}

.place__item-header {
    display: flex;
    margin-bottom: 48px;
}

@media screen and (max-width: 560px) {
    .place__item-header {
        flex-direction: column;
    }
}

.place__title {
    width: 460px;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    .place__title {
        width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        width: 360px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 560px) {
    .place__title {
        margin-left: 16px;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
    }
}

.place__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__links {
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__links {
        margin-left: 28px;
    }
}

@media screen and (max-width: 768px) {
    .place__links {
        margin-left: 16px;
    }
}

@media screen and (max-width: 560px) {
    .place__links {
        margin-top: 32px;
        margin-left: 16px;
    }
}

.place__url-heading {
    max-width: 456px;
    color: #AAA;
    margin: 0 0 12px;
    font-size: 12px;
    line-height: 20px;
}

.place__link {
    max-width: 456px;
    text-decoration: none;
    color: white;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
}

.place__link:hover {
    opacity: 0.8;
}

.place__item-footer {
    display: flex;
}

@media screen and (max-width: 560px) {
    .place__item-footer {
        flex-direction: column;
    }
}

.place__image {
    max-width: 460px;
    max-height: 460px;
}

@media screen and (max-width: 1024px) {
    .place__image {
        max-width: 440px;
        max-height: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__image {
        max-width: 360px;
        max-height: 360px;
    }
}

@media screen and (max-width: 560px) {
    .place__image {
        max-width: 560px;
        max-height: 560px;
    }
}

.place__description {
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__description {
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__description {
        margin-left: 28px;
    }
}

@media screen and (max-width: 560px) {
    .place__description {
        margin-left: 16px;
    }
}

.place__paragraph {
    max-width: 484px;
    margin: 0 0 27px;
    font-size: 18px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        margin: 0 0 25px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 560px) {
    .place__paragraph {
        margin: 32px 0 25px;
        font-size: 16px;
        line-height: 26px;
    }
}