.place__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__links {
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__links {
        margin-left: 28px;
    }
}

@media screen and (max-width: 768px) {
    .place__links {
        margin-left: 16px;
    }
}

@media screen and (max-width: 560px) {
    .place__links {
        margin-top: 32px;
        margin-left: 16px;
    }
}