.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0px;
    padding-bottom: 24px;
    max-width: 1184px;
}

@media screen and (max-width: 560px) {
    .footer {
        flex-direction: column;
    }
}

.footer__links {
    
}

@media screen and (max-width: 560px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }
}

.footer__link {
    text-decoration: none;
    color: white;
    padding-right: 18px;
    font-size: 16px;
    line-height: 18px;
}

@media screen and (max-width: 560px) {
    .footer__link {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 24px;
    }
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__author {
    margin: 0;
}

@media screen and (max-width: 560px) {
    .footer__author {
        margin: 16px 0 0 16px;
        font-size: 14px;
        line-height: 14px;
    }
}