.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px auto 0px;
    padding-bottom: 24px;
    max-width: 1184px;
}

@media screen and (max-width: 560px) {
    .footer {
        flex-direction: column;
    }
}